# Arquivos de ambiente e variáveis
.env
GEMINI.md

# Ignorar pastas de download específicas
downloads - Versão beta/
Downloads/
downloads/

# Diretório do FFmpeg (Arquivos binários pesados)
ffmpeg/

# Ambientes Virtuais
venv/
env/
.venv/
env.bak/

# Arquivos de cache e logs do Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Arquivos e pastas temporárias de compilação
build/
dist/
*.spec

# Configurações de IDEs e Editores
.vscode/
.idea/
*.swp
*.suo