# Arquivos de ambiente e variáveis
.env
GEMINI.md

# Ignorar pastas de download específicas
downloads - Versão beta/
Downloads/
downloads/

# O ícone já está no repositório como 'png' por isso considerei desnecessário o envio, e o bat é só os comandos 
# do pyinstaller para me ajudar a compilar mais rapidamente sem digitar diretamente no terminal
icone.ico
compilar.bat



# Diretório do FFmpeg (Arquivos binários pesados)
ffmpeg/

# Ambientes Virtuais
venv/
env/
.venv/
env.bak/

# Arquivos de cache e logs do Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Arquivos e pastas temporárias de compilação
build/
dist/
*.spec
*.exe

# Configurações de IDEs e Editores
.vscode/
.idea/
*.swp
*.suo